.brands {
		width: 100%;
		margin: 0 auto;
		padding-bottom: 40px;
		border-radius: 30px;
		background: white;
}

.brands__title {
		display: flex;
		align-items: center;
}

.brandslist {
		display: block;
		margin: 45px 0 10px 20px;
		color: rgb(214, 50, 229);
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		font-weight: 700;
		cursor: pointer;
}

.brandslist:hover { 
		text-decoration: underline;
}

.category {
		margin-top: 35px;
		display: flex;
		justify-content: space-around;
}

.category__item {
		display: flex;
		flex-direction: column;
}

.category__item_title {
		display: flex;
		align-items: center;
		justify-content: center;
}

.category__item_page {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 18px 23px;
		margin: 0 auto 20px;
		min-width: 122px;
		min-height: 45px;
		border: 1px solid #d5d5d5;
		border-radius: 35px;
		font-size: 18px;
		font-family: 'Roboto', sans-serif;
		color: rgba(0, 0, 0, 0.758)
}

.category__item_page:hover {
		color: rgb(214, 50, 229);
		border: 1px solid rgb(214, 50, 229);
}

.brand-logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.brand-logo__img {
		margin: 12px auto;
		max-width: 120px;
		max-height: 60px;
}

.category__item:nth-child(1) {
	display: none;
}

.category__item:nth-child(2n) {
	display: none;
}


@media (max-width: 1200px) {

	.brand-logo__img {
		max-width: 100px;
		max-height: 60px;
	}
}

@media (min-width: 1025px) {
	.hide-desktop {
		display: none;
	}
}

@media (max-width: 1025px) {
	.hide-mobile {
		display: none;
	}
}

@media (max-width: 800px) {

	.category__item:last-child {
		display: none;
	}
}

@media (max-width: 600px) {

	.category__item_title .category__item_page {
		padding: 10px;
		min-width: 50px;
		min-height: 40px;
	}

	.brand-logo__img {
		display: block;
		margin: 5px auto;
		max-width: 70%;
	}
}

@media (max-width: 400px) {

	.brandslist {
		margin: 35px 0 10px 20px;
		font-size: 18px;
		font-weight: 700;
	}
}