.body-overflow {
    overflow: hidden;
}
.overlay_burger{
    background: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}
.burger{
    position: absolute;
    display: flex;
    align-items: start;
    height: 100%;
    width: 25%;
    max-width: 500px;
    z-index: 5;
    transition: 1s;
    opacity: 1;
}

.burger__menu {
    background: white;
    width: 80%;
    height: 100%;
    display: flex;
}

.burger__close {
    color: white;
    margin: 15px;
    background: rgba(255, 255, 255, 0);
    font-size: 40px;
}

.burger_trans {
    transform: translateX(-100%);
    transition: 1s;
}

.burger__list{
    display: flex;
    flex-direction: column;
    margin: 10%;
}

.burger__list li {
    font-size: 2rem;
    color: black;
    margin-top: 25px;
    cursor: pointer;
}