.main {
		height: auto;
		margin-top: -80px;
		border-radius: 24px 24px 0 0;
		background: white;
}

.main__title {
		font-family: 'Roboto', sans-serif;
		font-size: 24px;
		font-weight: 500;
		margin: 30px 0 10px 20px;
}

.goods__list {
		max-width: 900px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
}

.goods__img-wrap {
		position: relative;
}

.goods__img {
		max-width: 180px;
		max-height: 300px;
		padding: 10px;
}

.goods__info {
	padding: 5px 0 0 15px;
	margin-top: -10px;
}

.goods__discount {
		padding: 2px;
		position: absolute;
		display: block;
		bottom: 35px;
		left: 15px;
		background-color: #fff;
		border: 1px solid white;
		border-radius: 14px;
		color: rgb(214, 50, 229);
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		font-weight: 600;
}

.goods__price {
		display: flex;
		flex-direction: column;
}

.price-now {
		font-family: 'Roboto', sans-serif;
		color: black;
		font-size: 18px;
		font-weight: 700;
}

.price-last {
		padding-top: 5px;
		font-family: 'Roboto', sans-serif;
		color: rgba(128, 128, 128, 0.585);
		font-size: 14px;
}

.goods__desc {
		padding-top: 5px;
		font-family: 'Roboto', sans-serif;
		color: rgba(128, 128, 128, 0.585);
		font-size: 14px;
}

.cards-bulk {
	display: flex;
	justify-content: center;
}

.btn-show-more {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
	min-height: 55px;
	min-width: 285px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	border: 1px solid rgb(214, 50, 229);
	color: rgb(214, 50, 229);
	border-radius: 10px;
	background-color: #fff;
}

.btn-show-more:active {
		color: white;
		background: rgb(214, 50, 229);
}

.show-more__icon {
	padding-left: 8px;
}

.goods__preview-btn {
	font-size: 12px;
	line-height: 16px;
	transition: all .3s ease 0s;
	border-radius: 50px;
	background-color: rgba(255,255,255,.9);
	cursor: pointer;
	padding: 10px 11px;
	border: none;
	position: absolute;
	top: 110px;
	left: 50%;
	transform: translate(-50%,-50%);
	box-shadow: 0 0 20px rgb(0 0 0 / 10%);
	opacity: 0;
}

.goods__preview-btn:hover {
	opacity: 1;
}

.good-card__add {
	padding: 2px;
	position: absolute;
	display: block;
	bottom: 35px;
	left: 95px;
	background-color: #fff;
	border: 1px solid white;
	border-radius: 14px;
	color: rgb(214, 50, 229);
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 600;
}

.goods__big-card {
	display: none;
	width: 900px;
	height: 600px;
	border-radius: 15px;
	margin: auto;
	z-index: 111;
	background-color: white;
	position: fixed;
	top: 70px;
	left: 0;
	bottom: 70px;
	right: 0;
}

.goods__big {
	display: flex;
	flex-direction: row;
}

.goods__big-container {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	z-index: 10;
}

.goods__img-wrap-big {
	height: 100%;
	width: 50%;
	padding: 10px;
}


.goods__img-big {
	height: 95%;
	width: 95%;
	margin: 2%;
}

.goods__info-big {
	height: 100%;
	width: 50%;
}

.goods__desc_brand-big, goods__desc_name-big {
	color: #242424;
	font-size: 24px;
	line-height: 32px;
	font-weight: 700;
}

.goods__price-big, .goods__desc_brand-big, .goods__desc_name-big {
	font-size: 24px;
	line-height: 32px;
	font-weight: 700;
	text-decoration: none;
}

.good-card__add-big {
	font-weight: 600;
	text-decoration: none;
	text-align: center;
	border-radius: 8px;
	cursor: pointer;
	color: #fff;
	font-size: 16px;
	line-height: 22px;
	background-color: #cb11ab;
	border: 2px solid #cb11ab;
	padding: 11px 24px 13px;
	width: 366px;
	height: 50px;
	margin-top: 10%;
}

.good-card__add-big:hover{
	background-color: #e313bf;
	border-color: #e313bf;
}
.good-card__add-big:active{
	background-color: #b30f97;
	border-color: #b30f97;
}

.good-card__close{
	position: absolute;
	top: 15px;
	right: 20px;
	background-color: white;
	border: none;
	cursor: pointer;
	font-size: 20px;
}
.good-card__close:active{
	transform: scale(.8);
	color: #b30f97;
}

.good-card__close:hover{
	color: red;
}

.goods__desc-big {
	margin-top: 10%;
}

